*{
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

input[type="text"]{
  border: none;
}

i{
  font-weight: 300;
}

button{
  cursor: pointer;
}

body{
  overflow-x: hidden;
}

input, button{
  outline: none;
}
